<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>计算属性与侦听器</title>
	<script src="./vue.js"></script>
</head>
<body>
	
	<div id="root">
		姓<input type="text" v-model="firstName"> <br>
		名<input type="text" v-model="lastName"> <br>
		<div>{{fullName}}</div>
		<div>{{count}}</div>
	</div>

	<script>
		new Vue({
			el: "#root",
			data: {
				firstName: '',
				lastName: '',
				count: 0
			},
			computed: {
				fullName : function(){
					return this.firstName + ' ' + this.lastName; 
				}
			},
			watch: {
				firstName: function(){
					this.count ++;
				},
				lastName: function(){
					this.count ++;
				}
			}
		});
	</script>
</body>
</html>